# SPDX-FileCopyrightText: 2023 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Notae
Name[ca]=Notae
Name[ca@valencia]=Notae
Name[cs]=Notae
Name[en_GB]=Notae
Name[es]=Notae
Name[eu]=Notae
Name[fi]=Notae
Name[fr]=Notae
Name[gl]=Notæ
Name[he]=Notae
Name[hi]=टिप्पणियाँ
Name[hu]=Notae
Name[ia]=Notae
Name[it]=Notae
Name[ka]=Notae
Name[ko]=Notae
Name[lv]=Notae
Name[nl]=Notae
Name[pl]=Notae
Name[sa]=टिप्पणियाँ
Name[sk]=Notae
Name[sl]=Notae
Name[sv]=Notae
Name[tr]=Notae
Name[uk]=Notae
Name[x-test]=xxNotaexx
Name[zh_TW]=Notae
Comment=Take notes easily
Comment[ca]=Preneu notes fàcilment
Comment[ca@valencia]=Preneu notes amb facilitat
Comment[cs]=Poznámky hravě
Comment[en_GB]=Take notes easily
Comment[es]=Tomar notas con facilidad
Comment[eu]=Oharrak erraz hartzea
Comment[fi]=Tee helposti muistiinpanoja
Comment[fr]=Prenez des notes facilement
Comment[gl]=Tome notas facilmente.
Comment[he]=כתיבת פתקיות בקלות
Comment[hi]=आसानी से नोट्स लें
Comment[hu]=Jegyzetelés könnyedén
Comment[ia]=Prende notas facilemente
Comment[it]=Prendi appunti facilmente
Comment[ka]=ჩაინიშნეთ იოლად
Comment[ko]=메모 작성하기
Comment[lv]=Vienkārša piezīmju pierakstīšana
Comment[nl]=Gemakkelijk notities opnemen
Comment[pl]=Rób notatki z łatwością
Comment[sa]=सहजतया टिप्पणीं कुर्वन्तु
Comment[sk]=Robte poznámky ľahko
Comment[sl]=Z lahkoto si delajte zapiske
Comment[sv]=Skriv enkelt anteckningar
Comment[tr]=Kolay not alma uygulaması
Comment[uk]=Занотовуйте без проблем
Comment[x-test]=xxTake notes easilyxx
Comment[zh_TW]=輕易作筆記
Exec=notae
Icon=org.kde.notae
Type=Application
Terminal=false
Categories=Utility;
SingleMainWindow=true
