# SPDX-FileCopyrightText: 2023 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Notae
Name[ca]=Notae
Name[ca@valencia]=Notae
Name[es]=Notae
Name[eu]=Notae
Name[fr]=Notae
Name[he]=Notae
Name[ia]=Notae
Name[it]=Notae
Name[ka]=Notae
Name[nl]=Notae
Name[pl]=Notae
Name[sl]=Notae
Name[tr]=Notae
Name[uk]=Notae
Name[x-test]=xxNotaexx
Name[zh_TW]=Notae
Comment=Take notes easily
Comment[ca]=Preneu notes fàcilment
Comment[ca@valencia]=Preneu notes amb facilitat
Comment[es]=Tomar notas con facilidad
Comment[eu]=Oharrak erraz hartzea
Comment[fr]=Prenez des notes facilement
Comment[he]=כתיבת פתקיות בקלות
Comment[ia]=Prende notas facilemente
Comment[it]=Prendi appunti facilmente
Comment[ka]=ჩაინიშნეთ იოლად
Comment[nl]=Gemakkelijk notities opnemen
Comment[pl]=Rób notatki z łatwością
Comment[sl]=Z lahkoto si delajte zapiske
Comment[tr]=Kolay Not Alma Uygulaması
Comment[uk]=Занотовуйте без проблем
Comment[x-test]=xxTake notes easilyxx
Comment[zh_TW]=輕易作筆記
Exec=notae
Icon=org.kde.notae
Type=Application
Terminal=false
Categories=Utility;
SingleMainWindow=true
